.DS_Store
_site/
.sass-cache
.jekyll-metadata
*.icloud
__pycache__/*
.*.icloud
.old.Gemfile.lock
.jekyll-cache
.env
example_request.txt
.cache/

# Publication PDFs (copyrighted, not for distribution)
assets/pdfs/publications/*.pdf