<!-- {% capture person_tags %}{% for tag in person.portfolio-item-tag %}{{ tag | slugify | downcase }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags = (person_tags | split: ',' | sort:0) %}
 -->

{% capture person_tags %}{% for tag in person.portfolio-item-tag %}{{ tag | downcase }}#{{ tag }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_hashes = (person_tags | split: ',' | sort:0) %}


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <!-- {% if tags %}
          <span itemprop="keywords">
            {% capture tag_word %}{{ tags[1] | strip_newlines }}-{{ tags[0] | strip_newlines }}{% endcapture %}
            <span class="page__taxonomy-item" rel="tag">{{ tag_word }}</span>
          </span>
    {% endif %} -->
    {% if person.avatar %}
    <div class="person__image">
    <!-- <div class="archive__item-teaser"> -->
      {% if person.avatar contains "://" %}
        <img src="{{ person.avatar }}" alt="{{ person.name }}" itemprop="image">
      {% else %}
        <img src="{{ person.avatar | absolute_url }}" alt="{{ person.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if site.data.authors[person.author] or site.author.name == person.author %}
        {% if person.link %} 
          <a href="{{ person.link }}">{{ person.title }}</a> <a href="{{ person.url | absolute_url }}" rel="permalink"><i class="fas" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <!-- {{ person.author }} is not {{ site.author }} -->
          <a href="{{ person.url | absolute_url }}" rel="permalink">{{ person.title }}</a>
        {% endif %}
      {% else %}
          {{ person.title }}
      {% endif %}
    </h2>
    {% if person.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ person.excerpt | markdownify | strip_html }}</p>{% endif %}
    <span itemprop="keywords">
    {% for hash in tag_hashes %}
      {% assign keyValue = hash | split: '#' %}
      {% capture tag_word %}{{ keyValue[1] | strip_newlines }}{% endcapture %}
      {% if tag_word != "current member" and tag_word != "former member" %}
        {% if tag_word == "UCSB" or tag_word == "PhD graduate" %}
          <span class="page__taxonomy-item" rel="tag">{{ tag_word }}</span>{% unless forloop.last %}<span class="sep"></span>{% endunless %}
        {% else %}
          <span class="page__taxonomy-item" rel="tag">{{ tag_word | capitalize }}</span>{% unless forloop.last %}<span class="sep"></span>{% endunless %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </span>
  </article>
</div>