
.people {
  
  &__image {
    display: table-cell;
    vertical-align: top;
    width: 36px;
    height: 36px;

    @include breakpoint($large) {
      display: block;
      width: auto;
      height: auto;
    }

    img {
      max-width: 110px;
      border-radius: 50%;

      @include breakpoint($large) {
        padding: 5px;
        border: 1px solid $border-color;
      }
    }
  }

  /* social buttons */

  $people:
  (facebook, $facebook-color),
  (twitter, $twitter-color),
  (google-plus, $google-plus-color),
  (linkedin, $linkedin-color);

  @each $socialnetwork, $color in $people {
    &--#{$socialnetwork} {
      background-color: $color;

      &:hover {
        background-color: mix(#000, $color, 20%);
      }
    }
  }
}
