<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Bhattachan2012_2719.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474002</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2002_1378.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474097</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2002_1384.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474199</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2002_1392.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474199</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2003_1403.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.234743</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2003_1409.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.234743</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2003_1413.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.234743</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2003_1420.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474401</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2004_1398.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474503</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2004_1426.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474401</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2004_1435.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474401</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2004_1444.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474503</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2004_1479.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474699</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2005_1451.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474503</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2005_1459.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474598</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2005_1467.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474598</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2005_1473.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474598</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2006_1491.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474699</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2007_1499.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474699</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2007_1507.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474801</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2007_1517.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474801</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2007_1528.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474801</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2007_1536.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474902</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2008_1544.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474902</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2009_1353.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474997</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2009_1369.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474997</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2009_1572.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475099</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2010_1600.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.234752</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2011_1655.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475403</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2011_1667.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475498</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2013_3673.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475999</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2013_3674.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475999</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2013_3697.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475999</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2013_4068.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.234761</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2015_4251.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476303</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2017_2642.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476702</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2017_6231.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476702</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2017_7323.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476899</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2017_7502.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476797</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Caylor2017_9653.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476899</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Chang2016_4648.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476499</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Debats2016_4681.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476601</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Estes2013_3415.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475897</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Estes2013_3826.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.234761</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Estes2015_4318.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476398</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Estes2016_4736.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474097</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Franz2010_1611.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.234752</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Franz2011_1638.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475301</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Franz2012_1681.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475498</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Gerlein-Safdi2017_5203.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476899</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Good2011_1645.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475403</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Good2012_2738.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475701</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Good2013_3046.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475897</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Good2014_4073.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476201</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Gower2015_4364.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476398</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Gower2016_4779.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476601</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Gower2017_6236.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476797</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Guan2012_2756.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475701</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Guan2013_2821.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475802</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Guan2014_4078.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476201</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Guan2014_4235.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476303</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Guan2015_4287.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476303</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>King2010_1629.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475301</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>King2011_1662.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475498</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>King2012_2803.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475802</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Li2017_5432.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476702</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>O'Donnell2012_2708.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475599</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>O'Donnell2015_4494.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476499</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Soderberg2013_2153.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476702</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Soderberg2013_2828.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475802</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Untitled.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23473603</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2009_1553.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474902</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2009_1563.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23474997</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2010_1581.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475099</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2010_1591.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.234752</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2010_1619.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475301</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2012_1673.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475599</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2012_1690.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475599</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2012_2795.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475701</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2013_2864.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475897</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2013_3672.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23475999</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2014_4189.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476201</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wang2015_4470.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476398</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>Wolf2015_4420.md</key>
			<dict>
				<key>lastModification</key>
				<real>525979876.23476398</real>
				<key>version</key>
				<dict>
					<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Bhattachan2012_2719.md</string>
		</array>
		<array>
			<string>Untitled.md</string>
		</array>
		<array>
			<string>Estes2016_4736.md</string>
		</array>
		<array>
			<string>Caylor2002_1378.md</string>
		</array>
		<array>
			<string>Caylor2002_1384.md</string>
		</array>
		<array>
			<string>Caylor2002_1392.md</string>
		</array>
		<array>
			<string>Caylor2003_1403.md</string>
		</array>
		<array>
			<string>Caylor2003_1409.md</string>
		</array>
		<array>
			<string>Caylor2003_1413.md</string>
		</array>
		<array>
			<string>Caylor2003_1420.md</string>
		</array>
		<array>
			<string>Caylor2004_1426.md</string>
		</array>
		<array>
			<string>Caylor2004_1435.md</string>
		</array>
		<array>
			<string>Caylor2004_1444.md</string>
		</array>
		<array>
			<string>Caylor2005_1451.md</string>
		</array>
		<array>
			<string>Caylor2004_1398.md</string>
		</array>
		<array>
			<string>Caylor2005_1459.md</string>
		</array>
		<array>
			<string>Caylor2005_1467.md</string>
		</array>
		<array>
			<string>Caylor2005_1473.md</string>
		</array>
		<array>
			<string>Caylor2004_1479.md</string>
		</array>
		<array>
			<string>Caylor2006_1491.md</string>
		</array>
		<array>
			<string>Caylor2007_1499.md</string>
		</array>
		<array>
			<string>Caylor2007_1507.md</string>
		</array>
		<array>
			<string>Caylor2007_1517.md</string>
		</array>
		<array>
			<string>Caylor2007_1528.md</string>
		</array>
		<array>
			<string>Caylor2007_1536.md</string>
		</array>
		<array>
			<string>Caylor2008_1544.md</string>
		</array>
		<array>
			<string>Wang2009_1553.md</string>
		</array>
		<array>
			<string>Wang2009_1563.md</string>
		</array>
		<array>
			<string>Caylor2009_1369.md</string>
		</array>
		<array>
			<string>Caylor2009_1353.md</string>
		</array>
		<array>
			<string>Caylor2009_1572.md</string>
		</array>
		<array>
			<string>Wang2010_1581.md</string>
		</array>
		<array>
			<string>Wang2010_1591.md</string>
		</array>
		<array>
			<string>Caylor2010_1600.md</string>
		</array>
		<array>
			<string>Franz2010_1611.md</string>
		</array>
		<array>
			<string>Wang2010_1619.md</string>
		</array>
		<array>
			<string>King2010_1629.md</string>
		</array>
		<array>
			<string>Franz2011_1638.md</string>
		</array>
		<array>
			<string>Good2011_1645.md</string>
		</array>
		<array>
			<string>Caylor2011_1655.md</string>
		</array>
		<array>
			<string>King2011_1662.md</string>
		</array>
		<array>
			<string>Caylor2011_1667.md</string>
		</array>
		<array>
			<string>Franz2012_1681.md</string>
		</array>
		<array>
			<string>Wang2012_1673.md</string>
		</array>
		<array>
			<string>Wang2012_1690.md</string>
		</array>
		<array>
			<string>O'Donnell2012_2708.md</string>
		</array>
		<array>
			<string>Guan2012_2756.md</string>
		</array>
		<array>
			<string>Good2012_2738.md</string>
		</array>
		<array>
			<string>Wang2012_2795.md</string>
		</array>
		<array>
			<string>King2012_2803.md</string>
		</array>
		<array>
			<string>Soderberg2013_2828.md</string>
		</array>
		<array>
			<string>Guan2013_2821.md</string>
		</array>
		<array>
			<string>Wang2013_2864.md</string>
		</array>
		<array>
			<string>Good2013_3046.md</string>
		</array>
		<array>
			<string>Estes2013_3415.md</string>
		</array>
		<array>
			<string>Wang2013_3672.md</string>
		</array>
		<array>
			<string>Caylor2013_3697.md</string>
		</array>
		<array>
			<string>Caylor2013_3673.md</string>
		</array>
		<array>
			<string>Caylor2013_3674.md</string>
		</array>
		<array>
			<string>Estes2013_3826.md</string>
		</array>
		<array>
			<string>Caylor2013_4068.md</string>
		</array>
		<array>
			<string>Guan2014_4078.md</string>
		</array>
		<array>
			<string>Good2014_4073.md</string>
		</array>
		<array>
			<string>Wang2014_4189.md</string>
		</array>
		<array>
			<string>Guan2014_4235.md</string>
		</array>
		<array>
			<string>Caylor2015_4251.md</string>
		</array>
		<array>
			<string>Guan2015_4287.md</string>
		</array>
		<array>
			<string>Estes2015_4318.md</string>
		</array>
		<array>
			<string>Gower2015_4364.md</string>
		</array>
		<array>
			<string>Wolf2015_4420.md</string>
		</array>
		<array>
			<string>Wang2015_4470.md</string>
		</array>
		<array>
			<string>O'Donnell2015_4494.md</string>
		</array>
		<array>
			<string>Chang2016_4648.md</string>
		</array>
		<array>
			<string>Debats2016_4681.md</string>
		</array>
		<array>
			<string>Gower2016_4779.md</string>
		</array>
		<array>
			<string>Soderberg2013_2153.md</string>
		</array>
		<array>
			<string>Li2017_5432.md</string>
		</array>
		<array>
			<string>Caylor2017_6231.md</string>
		</array>
		<array>
			<string>Caylor2017_2642.md</string>
		</array>
		<array>
			<string>Caylor2017_7502.md</string>
		</array>
		<array>
			<string>Gower2017_6236.md</string>
		</array>
		<array>
			<string>Caylor2017_9653.md</string>
		</array>
		<array>
			<string>Gerlein-Safdi2017_5203.md</string>
		</array>
		<array>
			<string>Caylor2017_7323.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>210e7cc558c4e6822d4671547bfa233d463f3385c1a561226cf1b89f5dbcc332</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
