---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

{% comment %}
=======================
The following part extracts all the years from publications and gets a list sorted in reverse order
=======================
{% endcomment %}
{% assign rawyears = "" %}
{% for publication in site.publications %}
    {% assign tyears = publication.year | join:'|' | append:'|' %}
    {% assign rawyears = rawyears | append:tyears %}
{% endfor %}
{% assign rawyears = rawyears | split:'|' | sort: 'first' %}

{% comment %}
=======================
The following part removes dulpicated years and invalid years like blank year.
=======================
{% endcomment %}

{% assign publication_years = "" %}
{% for year in rawyears %}
    {% if year != "" %}
        {% unless publication_years contains year %}
            {% assign publication_years = publication_years | join:'|' | append:'|' |
            append:year | split:'|' %}
        {% endunless %}
    {% endif %}
{% endfor %}
{% assign sorted_years = publication_years | sort | reverse %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          
        </header>
      {% endunless %}

      <section class="page__content" itemprop="text">
        {{ content }}

        {% capture authorTag %}{{ page.author }}{% endcapture %}

        {% comment %}Recent Publications Section{% endcomment %}
        {% include recent-publications.html author=authorTag %}

        {% assign numPosts = site.tags[authorTag] | size %}
        {% if numPosts > 0 %}
          <div class="row related-posts">
            <h2 class="text-center">{{page.author}}'s Recent News</h2>
            <div class="medium-12 small-12 columns">
              {% for post in site.tags[authorTag] limit:6 %}
                 <h3>
                  <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }}
                  </a>
                 </h3>
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {% assign numPubs = site.publications.author-tags[authorTag] | size %}
        {% if numPubs > 0 %}
          <h2 id="publications-section" class="text-center" style="scroll-margin-top: 80px;">WAVES Lab Publications by {{page.author}}</h2>
          <div class="grid__wrapper">
            {% for year in sorted_years %}
              {% for publication in site.publications %}
                {% if publication.year == year %}
                  {% if publication.author-tags contains authorTag %}
                    {% include publication-single.html type="grid" %}
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
          {% if page.external_link %}<div><a href="{{ page.external_link }}" class="btn"><i class="fas fa-external-link"></i> {{ site.data.ui-text[site.locale].article_link_label | default: "Go to Article" }}</a></div>
          {% endif %}

          {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
        {% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
        {% if page.modified %}
          <p class="page__date"><strong><i class="fas fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time></p>
        {% elsif page.date %}
          <p class="page__date"><strong><i class="fas fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
        {% endif %}
      </footer>
      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
      
    </div>

    {% if site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when not disabled -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      {% if site.data.ui-text[site.locale].related_label %}
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      {% endif %}
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>